/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Container */
.home-container {
  font-family: var(--font-body);
  background-color: var(--background-color); /* Light mode */
  color: var(--text-dark);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header */
.home-header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--padding-medium) var(--padding-large);
  background-color: var(--text-light);
  border-bottom: 2px solid var(--blue);
  z-index: 1000;
}

.header-item {
  font-size: 1.2rem;
  color: var(--text-dark);
  font-family: var(--font-heading);
  text-decoration: none;
  transition: color 0.3s ease;
}

.header-item:hover {
  color: var(--yellow-1);
}

/* Welcome Section */
.welcome-section {
  margin-top: 6rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
}

/* Roadmap */
.roadmap {
  margin-top: 2rem;
  width: 65%;
  flex-grow: 1;
  overflow-y: auto;
  padding-bottom: 2rem;
}

/* Roadmap Items */
.roadmap-item {
  display: flex;
  align-items: center;
  margin-bottom: var(--padding-large);
  padding: var(--padding-small) var(--padding-medium);
  border-radius: var(--border-radius);
  background: var(--text-light);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Lesson Circle */
.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--text-light);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: var(--text-dark);
  box-shadow: 0 0 5px var(--blue);
  opacity: 0.8;
  margin-right: var(--padding-medium);
}

/* Completed Lessons */
.circle.completed {
  background-color: var(--yellow-1);
  color: var(--dark-blue-1);
  opacity: 1;
}

.checkmark {
  font-size: 1.2rem;
  font-weight: bold;
}

/* Roadmap Content */
.roadmap-content {
  flex-grow: 1;
}

.roadmap-title {
  font-size: 1.3rem;
  font-weight: bold;
}

.roadmap-subtitle {
  font-size: 0.9rem;
  color: var(--text-dark);
}

/* Roadmap Actions */
.roadmap-actions {
  display: flex;
  gap: var(--padding-small);
}

/* Buttons */
.action-button {
  padding: var(--padding-small) var(--padding-medium);
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--yellow-1);
  color: var(--dark-blue-1);
  cursor: pointer;
  font-size: 0.9rem;
  font-family: var(--font-body);
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.action-button:hover {
  background-color: var(--yellow-2);
  color: var(--dark-blue-1);
}

/* Footer */
.footer {
  background-color: var(--text-light);
  color: var(--text-dark);
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
  margin-top: auto;
}
